.gallery {
	.inner {
		ul {
			li {
				width: 300px;
				border: 1px solid #aaa;
				padding: 20px;
				margin: 20px;

				img {
					width: 100%;
				}

				h2 {
					font: bold 14px/1 'arial';
					color: #777;
					margin-top: 20px;
				}
			}
		}
	}
}

.popup {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
	top: 0px;
	left: 0px;
	padding: 5vw 5vw 7vw;
	text-align: center;

	span {
		font: bold 14px/1 'arial';
		color: #fff;
		cursor: pointer;
		position: absolute;
		top: 3vw;
		right: 5vw;
	}

	.pic {
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	p {
		font: 12px/1 'arial';
		color: #fff;
		margin-top: 20px;
	}
}
